{% extends '@AropixelAdmin/Form/base.html.twig' %}


{% block header_elements %}
{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    {#<link href="{{ asset('bundles/aropixeladmin/theme_ll/js/plugins/nestable/jquery-nestable/jquery.nestable.css') }}" rel="stylesheet" type="text/css">#}
    <link href="{{ asset('bundles/aropixelmenu/css/menu.css') }}" rel="stylesheet" type="text/css">
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        var max_level = {{ menus[type_menu].depth }};
        var required_title = "{% trans %}aropixel.menu.form.modals.required.title{% endtrans %}";
        var required_message = "{% trans %}aropixel.menu.form.modals.required.message{% endtrans %}";
    </script>
    <script type="text/javascript" src="{{ asset('bundles/aropixeladmin/modules/jquery.mjs.nestedSortable.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/aropixelmenu/js/menu.js') }}"></script>

{% endblock %}


{% block body %}

    <template id="template_row">
        {% include '@AropixelMenu/menu/item.html.twig' %}
    </template>


    <div class="row">

        <div class="col-md-8">


            <div class="card" id="panelMenu">

                <div class="card-header">
                    <h4 class="card-heading">{{ menus[type_menu].name }}</h4>
                    <div class="card-header-action">
                        <button type="button" class="btn btn-primary heading-btn" id="save_menu" data-type="{{ type_menu }}" data-name="{{ menus[type_menu].name }}" data-url="{{ path('menu_save') }}">{% trans %}aropixel.menu.form.save{% endtrans %}</button>
                    </div>
                </div>

                <div class="card-body">

                    <p class="text-muted">{% trans %}aropixel.menu.form.instruction{% endtrans %}</p>
                </div>
                <ol class="menu" id="menu">
                    {% for item in menu %}
                        {{ dump(item.children) }}
                        {{ include ('@AropixelMenu/menu/item.html.twig', {'item': item}) }}
                    {% endfor %}
                </ol>

            </div>
        </div>

        <div class="col-md-4">

            <div class="card border-top-lg border-top-dark-grey">
                <div class="card-header">
                    <h4 class="card-title">{% trans %}aropixel.menu.form.panels.section{% endtrans %}</h4>
                </div>
                <div class="card-body">
                    <div class="form-group m-b-0">
                        <label>{% trans %}aropixel.menu.form.panels.section{% endtrans %}</label>
                        <input name="manual_section" type="text" class="form-control">
                    </div>
                </div>
                <div class="card-footer text-right">
                    <button type="button" class="btn btn-primary" id="add-section">{% trans %}aropixel.menu.form.add{% endtrans %}</button>
                </div>
            </div>
            {% block post_sections %}{% endblock %}

            {% for inputRessource in inputRessources %}

                <div class="card border-top-lg border-top-pink" id="panel-{{ inputRessource.ressourceNamePlural }}">
                    <div class="card-header">
                        {% set titleCard = 'aropixel.menu.form.panels.'~inputRessource.ressourceNamePlural %}
                        <h4 class="card-title">{{ titleCard | trans}}</h4>
                    </div>
                    <div class="card-body">
                        <div>
                            {% for resource in inputRessource.ressources %}
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox"
                                           class="custom-control-input"
                                           id="{{ inputRessource.resourceNameSingular }}{{ loop.index0 }}"
                                           name="{{ inputRessource.ressourceNamePlural }}[]"
                                           value="{{ resource.value }}"
                                           data-type="{{ resource.type }}"
                                           data-label="{{ inputRessource.ressourceLabel }}"
                                           data-color="{{ inputRessource.ressourceColor }}"
                                           data-ressourceType="{{ inputRessource.resourceNameSingular }}"
                                    >
                                    <label class="custom-control-label" for="{{ inputRessource.resourceNameSingular }}{{ loop.index0 }}">
                                        <span {{ resource.alreadyIncluded ? "style='color: #666;'" : "" }}>
                                            {{ resource.label }}
                                        </span>
                                    </label>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="card-footer text-right">
                        <button type="button"
                                class="btn btn-primary add-input-ressource"
                                data-strict="{{ menus[type_menu].strict_mode ? '1' : '0' }}"
                        >
                            {% trans %}aropixel.menu.form.add{% endtrans %}
                        </button>
                    </div>
                </div>

            {% endfor %}

            {% block post_pages %}{% endblock %}

            <div class="card border-top-lg border-top-teal">
                <div class="card-header">
                    <h4 class="card-title">{% trans %}aropixel.menu.form.panels.link.title{% endtrans %}</h4>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label class="control-label">{% trans %}aropixel.menu.form.panels.link.fields.title{% endtrans %}</label>
                        <input name="manual_label" type="text" class="form-control" />
                    </div>
                    <div class="form-group m-b-0">
                        <label class="control-label">{% trans %}aropixel.menu.form.panels.link.fields.link{% endtrans %}</label>
                        <input name="manual_link" type="text" class="form-control" />
                    </div>
                </div>
                <div class="card-footer text-right">
                    <button type="button" class="btn btn-primary" id="add-link">{% trans %}aropixel.menu.form.add{% endtrans %}</button>
                </div>
            </div>
            {% block post_links %}{% endblock %}

        </div>

    </div>

    <!-- Modal with basic title -->
    <div id="modal_please_select" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <h5 style="margin-bottom: 0">{% trans %}aropixel.menu.form.modals.empty.title{% endtrans %}</h5>
                </div>

                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">{% trans %}aropixel.menu.form.understood{% endtrans %}</button>
                </div>
            </div>
        </div>
    </div>
    <!-- /modal with basic title -->

    <!-- Modal with basic title -->
    <div id="modal_edit" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{% trans %}aropixel.menu.form.modals.edit.title{% endtrans %}</h5>
                    <button type="button" class="close" data-dismiss="modal">×</button>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label>{% trans %}aropixel.menu.form.modals.edit.fields.text{% endtrans %}</label>
                        <input type="text" name="item_label" placeholder="{% trans %}aropixel.menu.form.modals.edit.fields.text{% endtrans %}" class="form-control">
                    </div>

                    <div class="form-group">
                        <label>{% trans %}aropixel.menu.form.modals.edit.fields.link{% endtrans %}</label>
                        <input type="text" name="item_link" placeholder="{% trans %}aropixel.menu.form.modals.edit.fields.link{% endtrans %}" class="form-control">
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}aropixel.menu.form.cancel{% endtrans %}</button>
                    <button type="button" class="btn btn-primary" id="valid_edit">{% trans %}aropixel.menu.form.ok{% endtrans %}</button>
                </div>
            </div>
        </div>
    </div>
    <!-- /modal with basic title -->


{% endblock %}

